<!DOCTYPE html>
<html lang="zxx">


<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Umut Günal</title>
  <!-- Description-->
  <meta name="description" content="Kim Bu Umut?">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/umutt.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="img/umutt.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="img/umutt.jpg">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-red.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- removeIf(customizerDist)-->
  <link rel="stylesheet" href="../customizer/main.css">
  <!-- endremoveIf(customizerDist)-->
</head>

<body > <!--oncontextmenu="return false" onselectstart="return false" ondragstart="return false"-->
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span
          class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div class="main-wrapper">
    <!-- Sidebar-->
    <header>
      <nav class="navbar d-md-block d-lg-none fixed-top mobile-navbar"><button class="navbar-toggler mr-auto"
          type="button" data-toggle="collapse" data-target="#mobileNavbarSupportedContent"
          aria-controls="mobileNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="nav-btn">Menu</span></button>
        <div class="collapse navbar-collapse order-1" id="mobileNavbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
        </div>
      </nav>
      <nav class="sidebar" data-simplebar>
        <div class="sidebar-header"><a href="index.html" data-scroll><img class="img-fluid sidebar-avatar"
              src="img/umutt.jpg" alt="Profile avatar"></a> <span class="sidebar-name">Umut Günal</span>
          <p class="sidebar-status">
            <font color="b11818  "><a href="https://www.linkedin.com/in/umutcan-g%C3%BCnal-6b4ba5173/" target="_blank">
                <big> <b> Open to Work</b></big> </font>
          </p>
        </div>

        <div class="sidebar-menu">
          <ul class="list-unstyled list-menu">
            <li><a class="nav-link" href="#home-area" data-scroll>
                <p align="left">Anasayfa</p>
              </a></li>
            <li><a class="nav-link" href="#about-area" data-scroll>
                <p align="left">Hakkımda</p>
              </a></li>
            <li><a class="nav-link" href="#egitim-area" data-scroll>
                <p align="left">Eğitim</p>
              </a></li>
            <li><a class="nav-link" href="#services-area" data-scroll>
                <p align="left">İlgi Alanlarım</p>
              </a></li>
            <li><a class="nav-link" href="#beceri-area" data-scroll>
                <p align="left">Yetenekler</p>
              </a></li>
            <li><a class="nav-link" href="#deneyim-area" data-scroll>
                <p align="left">Deneyim&Sertifika </p>
              </a></li>
            <li><a class="nav-link" href="#portfolio-area" data-scroll>
                <p align="left">Portfolyo</p>
              </a></li>
            <li><a class="nav-link" href="#testimonials-area" data-scroll>
                <p align="left">Referanslarım</p>
              </a></li>
            <li><a class="nav-link" href="#blog-area" data-scroll>
                <p align="left">Blog</p>
              </a></li>
            <li><a class="nav-link" href="#contact-area" data-scroll>
                <p align="left">İletişim</p>
              </a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="sections-wrapper">
      <!-- Sections-->
      <!-- Home-->
      <section class="home-area element-cover-bg" id="home-area" style="background-image:url(img/webs.jpg)">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-lg-8 home-content text-center">

              <h1 class="home-name"> <br> Umut Günal<span>
                  <h4 class="cd-headline clip home-headline"> <span class="cd-words-wrapper single-headline"><b
                        class="is-visible">Yönetim Bilişim Sistemleri</b><b>Bilgisayar
                        Programcılığı</b><b>Geliştirici</b><b>umutcangunal@hotmail.com</b></span></h4>
                </span></h1>

            </div><a href="#about-area" data-scroll>
              <div class="home-mouse">
                <div class="mouse-shape">
                  <div class="mouse-wheel"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- About-->
      <section class="single-section about-area" id="about-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Hakkımda</h2>
                <p class="section-description"> Biraz Kendimi Tanıtayım :)</p>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <!-- Picture part-->
            <div class="col-12 col-lg-5 about-img"><img class="img-fluid img-thumbnail" src="img/umutt.jpg"
                alt="About Picture"></div>
            <!-- Content part-->

            <div class="col-12 col-lg-7 about-content">
              <div style="text-align: justify;">
                <div class="content-block">
                  <h7 class="content-title">Bilgisayar Programcılığı & Yönetim Bilişim Sistemleri</h7>
                  <div class="content-description">
                    <p>Beykoz Üniversitesi Bilgisayar Programcılığı bölümünden mezun oldum. Daha sonra Nişantaşı
                      Üniversitesi Yönetim Bilişim Sistemleri bölümünde okumaya başladım.<b> WEB TASARIM,
                        SAP/ABAP, IT-HELPDESK, İŞ GELİŞTİRME</b> alanlarında kendimi geliştirmek için çabalıyorum.
                      Kurumunuzda
                      öğreneceğim bilgileri ve deneyimlerimi pratikte de uygulayabileceğim projelerde yer almak istiyor,
                      özenli ve azimli bir çalışan olarak becerilerimi geliştirebileceğim ve diğer deneyimli ekip
                      üyelerinden öğrenebileceğim bir rol arıyorum. <b><a href="benkimim.html">Detaylar..</a></b></p>
                  </div>
                </div>
                <address class="content-info">
                  <div class="row">
                    <div class="col-12 col-md-6 single-info"><span>Ad-Soyad:</span>
                      <p>Umut Günal</p>
                    </div>
                    <div class="col-12 col-md-6 single-info"><span>Email:</span>
                      <p><a href="mailto:daniel@example.com">umutcangunal@hotmail.com</a></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6 single-info"><span>Adress:</span>
                      <p>Sultanbeyli/İstanbul</p>
                    </div>
                    <div class="col-12 col-md-6 single-info"><span>Meslek:</span>
                      <p>Öğrenci</p>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6 single-info"><span>Telefon:</span>
                      <p>0 536 559 91 76</p>
                    </div>
                    <div class="col-12 col-md-6 single-info"><span>Ehliyet:</span>
                      <p>B Sınıfı</p>
                    </div>

                  </div>
                </address>
                <a class="btn content-download button-main button-scheme" href="#" target="_blank" role="button"><b>CV
                    İNDİR</b>
                </a>
                <img src="img/linkedin.png" width="70" height="70" alt="">
                <!-- 
                <a class="btn content-work button-main" data-scroll="" href="#portfolio-area"
                  role="button">Çalışmalarım</a>  -->

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="single-section alt-bg services-area" id="egitim-area">
        <div class="my-auto">
          <h2 class="mb-5"><big><b>Eğitim</b></big> </h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <img src="img/nisantasi.png" alt="" width="50px" height="45px"> &nbsp;&nbsp;
            <div class="resume-content mr-auto">
              <h6 class="mb-0"><big><b>İSTANBUL NİŞANTAŞI ÜNİVERSİTESİ - Yatay Geçiş</b></big></h6>
              <div class="subheading mb-3"> İktisadi ve İdari Bilimler Fakültesi /&nbsp;<b> Yönetim Bilişim
                  Sistemleri</b></div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Temmuz 2021 - Halen</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <img src="img/galata.png" alt="" width="50px" height="45px"> &nbsp;&nbsp;
            <div class="resume-content mr-auto">
              <h6 class="mb-0"><big><b> İSTANBUL GALATA ÜNİVERSİTESİ</b></big></h6>
              <div class="subheading mb-3">Sanat ve Sosyal Bilimler Fakültesi /&nbsp;<b>Yönetim Bilişim Sistemleri</b>
              </div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Eylül 2020 - Temmuz 2021</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <img src="img/beykoz.png" alt="" width="50px" height="45px"> &nbsp;&nbsp;
            <div class="resume-content mr-auto">
              <h6 class="mb-0"><big><b>BEYKOZ ÜNİVERSİTESİ</b></big> </h6>
              <div class="subheading mb-3">Meslek Yüksekokulu / &nbsp;<b>Bilgisayar Programcılığı</b> </div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Eylül 2018 - Temmuz 2020</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <img src="img/lise.jpg" alt="" width="50px" height="45px"> &nbsp;&nbsp;
            <div class="resume-content mr-auto">
              <h6 class="mb-0"> <big><b>HATİCE BAYRAKTAR ANADOLU LİSESİ</b></big> </h6>
              <div class="subheading mb-3">Eşit Ağırlık</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Eylül 2014 - Haziran 2017</span>
            </div>
          </div>
        </div>
      </section>

      <section class="single-section alt-bg services-area" id="services-area">
        <div class="container">
          <div class="row">
            <div class="col-15005">
              <div class="section-heading">
                <h2 class="section-title">&nbsp;İlgi Alanlarım</h2>
                <p class="section-description">&nbsp;&nbsp;&nbsp;İlgi duyduğum alanları ve mezun olduktan sonra yönekmek
                  istediğim alanları görebilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="single-service mb-0"><i class="icon service-icon ion-ios-rocket"></i>
                <h6 class="service-title">WEB TASARIM</h6>
                <p class="service-description">Bilgisayar Programcılığı bölümü okurken okuduğum bölümden kaynaklı
                  web tasarım alanında çalışmalar yaptım.</p>
              </div>
            </div>
            <br>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="single-service mb-0"><i class="icon service-icon ion-ios-rocket"></i>
                <h6 class="service-title">SAP/ABAP</h6>
                <p class="service-description">Yönetim Bilişim Sistemleri bölümü okurken SAP/ABAP
                  alanında tecrube kazanmak ve bu alanda staj yapmak istiyorum.</p>
              </div>
            </div>
            <br>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="single-service mb-0"><i class="icon service-icon ion-ios-rocket"></i>
                <h6 class="service-title">IT-HELPDESK</h6>
                <p class="service-description">Yönetim Bilişim Sistemleri bölümü okurken IT/HELPDESK
                  alanında tecrube kazanmak ve bu alanda staj yapmak istiyorum.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="single-section alt-bg services-area" id="beceri-area">
        <div class="my-auto">
          <h2 class="mb-5"><b><big> Yetenekler</big></b></h2>
          <div>
            <b><big>MS OFFICE</big> </b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"><b>%74</b> </div>
            </div>
            <b><big>HTML</big> </b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><b>%70</b> </div>
            </div>
            <b><big>CSS</big> </b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 65%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><b>%65</b> </div>
            </div>
            <b><big> IT-HELPDESK</big></b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><b>%80</b> </div>
            </div>
            <b> C#</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><b>%40</b> </div>
            </div>
            <b>PYTHON</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><b>%20</b> </div>
            </div>
            <b>ADOBE PHOTOSHOP</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><b>%70</b> </div>
            </div>
            <b>EKİP ÇALIŞMASI</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><b> %100</b></div>
            </div>
            <b>PROJE YÖNETİMİ</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><b>%100</b> </div>
            </div>
            <b>TEST VE SORUN ÇÖZME BECERİSİ</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><b>%90</b> </div>
            </div>
            <b> SOSYAL MEDYA İÇERİK ÜRETME</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><b>%100</b> </div>
            </div>
            <b>EKİP ÇALIŞMASI</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><b>%100</b> </div>
            </div>
            <b>ADOBE ILLUSTRATOR</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><b>%70</b> </div>
            </div>
          </div>
        </div>
      </section>
      <section class="single-section alt-bg services-area" id="deneyim-area">
        <div class="my-auto">
          <h2 class="mb-5"><big><b>Deneyim & Sertifikalar</b></big> </h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <b><a href="https://www.granobra.com/" target="_blank"> GRANOBRA </a> - YAZILIM DEPARTMANI</b> <br> <i>1
                EYLÜL 2019 - 31 ARALIK 2019 - <b> STAJYER</b></i>
            </li>
          </ul>
          <br>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <b> <a href="https://toptalent.co/businessschool/program/is-bankasi-proschool-it-class/" target="_blank">
                  TÜRKİYE İŞ BANKASI</a> PROSCHOOL IT CLASS</b> <br> <i>2023 OCAK - BAŞARI SERTİFİKASI</i>
            </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <b>İSTANBUL TEKNİK ÜNİVERSİTESİ 15. BİLİSİM TEKNOLOJİLERİ ZİRVESİ</b> <br> <i>2022 ARALIK - KATILIM
                SERTİFİKASI</i>
            </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <b><a
                  href="https://www.udemy.com/course/sfrdan-uzmanlga-vmware-workstation-egitimi/learn/lecture/29804074#overview"
                  target="_blank"> UDEMY VMWARE WORKSTATİON EĞİTİMİ</a></b> <br> <i>2022 MAYIS - BAŞARI SERTİFİKASI</i>
            </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <b> BİLGEADAM TEKNOLOJİLERİ IT'DE KARİYER</b> <br> <i>2019 MART - KATILIM SERTİFİKASI</i>
            </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <b> BEYKOZ ÜNİVERSİTESİ ETKİN İLETİŞİM BECERİLERİ</b> <br> <i>2018 KASIM - KATILIM SERTİFİKASI</i>
            </li>

          </ul>
        </div>
      </section>
      <!-- Portfolio-->
      <section class="single-section portfolio-area" id="portfolio-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Portfolyo</h2>
                <p class="section-description">Burada yaptığım birkaç çalışmamı görebilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Filter nav-->
            <div class="col-12">
              <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                <li class="list-inline-item tab-active" data-filter="*">Tümü</li>
                <li class="list-inline-item" data-filter=".brand">Kodlama</li>
                <li class="list-inline-item" data-filter=".design">Tasarım</li>
                <p><b><big>!!!! BU KISIMDA DÜZENLEME YAPILIYOR !!!!</big></b> </p>
              </ul>
            </div>
          </div>
          <!-- Thumbnail list-->
          <div class="portfolio-grid row">
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-1">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kahve/kahve-web.png">
                  <div class="item-content">
                    <h6 class="content-title">Kahve Web Sayfası</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-1">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kahve/kahve-web.png">
                  <div class="item-content">
                    <h6 class="content-title">Kahve Web Sayfası</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-1">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kahve/kahve-web.png">
                  <div class="item-content">
                    <h6 class="content-title">Kahve Web Sayfası</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-1">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kahve/kahve-web.png">
                  <div class="item-content">
                    <h6 class="content-title">Kahve Web Sayfası</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-1">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kahve/kahve-web.png">
                  <div class="item-content">
                    <h6 class="content-title">Kahve Web Sayfası</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-1">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kahve/kahve-web.png">
                  <div class="item-content">
                    <h6 class="content-title">Kahve Web Sayfası</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-1">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kahve/kahve-web.png">
                  <div class="item-content">
                    <h6 class="content-title">Kahve Web Sayfası</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>

            <!-- Single item-->
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-2">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/stok/stok.png">
                  <div class="item-content">
                    <h6 class="content-title">C# Stok Uygulaması</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-3">
                <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="img/kamil- koc-otomasyonu/1.png">
                  <div class="item-content">
                    <h6 class="content-title">C# Kamil Koç Otomosyon Sistemi</h6><span class="content-more">Daha Fazla
                      Bilgi</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="#item-4">
                <div class="portfolio-wrapper mb-lg-0"><img class="img-fluid" alt="Item"
                    src="img/monster/monsterslidercalismasii.png">
                  <div class="item-content">
                    <h6 class="content-title">Monster Grafik Çalışması</h6><span class="content-more">Daha Fazla
                      Bilgi</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-5">
                <div class="portfolio-wrapper mb-0"><img class="img-fluid" alt="Item"
                    src="img/Inkedmonsterslidercalismasii.jpg">
                  <div class="item-content">
                    <h6 class="content-title">Java Macera Oyunu</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a></div>
            <!-- Single item-->
            <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="#item-6">
                <div class="portfolio-wrapper mb-0"><img class="img-fluid" alt="Item"
                    src="img/Inkedmonsterslidercalismasii.jpg">
                  <div class="item-content">
                    <h6 class="content-title">Tatil Web Sitesi</h6><span class="content-more">Daha Fazla Bilgi</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- Single lightbox-->
        <div class="lightbox-wrapper" id="item-1">
          <div class="f-basis-100">
            <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item"
                    src="img/kahve/kahve-web.png"><img class="img-fluid item-img" alt="Item"
                    src="img/kahve/kahve-web-page.png"><img class="img-fluid item-img" alt="Item"
                    src="img/kahve/kahve-web-page-2.png"></div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="lightbox-content">
                  <h3 class="content-title">Kahve Web Sayfası</h3>
                  <div class="content-description">
                    <p>HTML5, CSS, JS teknolojileri kullanılarak bir web sitesi hazırlanmıştır.</p>

                  </div>
                  <ul class="list-inline content-info">
                    <li class="list-inline-item single-info"><span>Çalışma:</span>
                      <p>Ödev</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Kategori:</span>
                      <p><a href="#">Web Tasarım</a>, <a href="#">Tasarım</a></p>
                    </li>
                    <li class="list-inline-item single-info"><span>Tarih:</span>
                      <p>12 May, 2019</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Teknolojiler:</span>
                      <p>HTML5, SCSS, JS</p>
                    </li>
                  </ul><a class="btn content-btn button-main button-scheme" href="#" role="button">İndir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single lightbox-->
        <div class="lightbox-wrapper" id="item-2">
          <div class="f-basis-100">
            <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item"
                    src="img/stok/stok.png"><img class="img-fluid item-img" alt="Item" src="img/stok/stok-uygulama.png">
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="lightbox-content">
                  <h3 class="content-title">C# Stok Uygulaması</h3>
                  <div class="content-description">
                    <p>C# ve Sql teknolojileri kullanarak bir stok uygulaması yapılmıştır.</p>
                    <p></p>
                  </div>
                  <ul class="list-inline content-info">
                    <li class="list-inline-item single-info"><span>Çalışma:</span>
                      <p>Ödev</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Kategori:</span>
                      <p><a href="#">Stok</a>, <a href="#0">Uygulaması</a></p>
                    </li>
                    <li class="list-inline-item single-info"><span>Tarih:</span>
                      <p>-</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Teknolojiler:</span>
                      <p>C#,SQL</p>
                    </li>
                  </ul><a class="btn content-btn button-main button-scheme" href="#" role="button">İndir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single lightbox-->
        <div class="lightbox-wrapper" id="item-3">
          <div class="f-basis-100">
            <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item"
                    src="img/kamil- koc-otomasyonu/2.png"><img class="img-fluid item-img" alt="Item"
                    src="img/kamil- koc-otomasyonu/1.png"><img class="img-fluid item-img" alt="Item"
                    src="img/kamil- koc-otomasyonu/3.png"><img class="img-fluid item-img" alt="Item"
                    src="img/kamil- koc-otomasyonu/4.png"><img class="img-fluid item-img" alt="Item"
                    src="img/kamil- koc-otomasyonu/5.png"><img class="img-fluid item-img" alt="Item"
                    src="img/kamil- koc-otomasyonu/6.png"></div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="lightbox-content">
                  <h3 class="content-title">C# Kamil Koç Otomosyon Projesi</h3>
                  <div class="content-description">
                    <p>C# ve SQL teknolojileri kullanılarak bir otomosyon sistemi oluştutulmuştur. </p>
                    <p></p>
                  </div>
                  <ul class="list-inline content-info">
                    <li class="list-inline-item single-info"><span>Çalışma:</span>
                      <p>Ödev</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Kategori:</span>
                      <p><a href="#0">Otomosyon</a> <a href="#"></a></p>
                    </li>
                    <li class="list-inline-item single-info"><span>Tarih:</span>
                      <p>-</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Teknolojiler:</span>
                      <p>C#,SQL</p>
                    </li>
                  </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">İndir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single lightbox-->
        <div class="lightbox-wrapper" id="item-4">
          <div class="f-basis-100">
            <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item"
                    src="img/monster/Slidercalismasi.png"><img class="img-fluid item-img" alt="Item"
                    src="img/monster/monsterslidercalismasii.png"><img class="img-fluid item-img" alt="Item"
                    src="img/monster/960-960banner.png"><img class="img-fluid item-img" alt="Item"
                    src="img/monster/600-300banner.png"></div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="lightbox-content">
                  <h3 class="content-title">Monster Notebook Grafik Çalışması</h3>
                  <div class="content-description">
                    <p>Adobe Photoshop ve Adobe Illustrator kullanılarak grafiksel (reklam) tasarımlar yapıldı</p>
                    <p></p>
                  </div>
                  <ul class="list-inline content-info">
                    <li class="list-inline-item single-info"><span>Çalışma:</span>
                      <p>Final Ödevi</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Kategori:</span>
                      <p><a href="#0">Grafik</a>, <a href="#0">Tasarımı</a></p>
                    </li>
                    <li class="list-inline-item single-info"><span>Tarih:</span>
                      <p>-</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Teknolojiler:</span>
                      <p>Adobe Photoshop, Adobe Illustrator</p>
                    </li>
                  </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">İndir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single lightbox-->
        <div class="lightbox-wrapper" id="item-5">
          <div class="f-basis-100">
            <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item"
                    src="img/1235.jpg"><img class="img-fluid item-img" alt="Item" src="img/1235.jpg"><img
                    class="img-fluid item-img" alt="Item" src="img/1235.jpg"><img class="img-fluid item-img" alt="Item"
                    src="img/1235.jpg"><img class="img-fluid item-img" alt="Item" src="img/1235.jpg"><img
                    class="img-fluid item-img" alt="Item" src="img/1235.jpg"></div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="lightbox-content">
                  <h3 class="content-title">Java Macera Oyunu</h3>
                  <div class="content-description">
                    <p>Daha sonra yüklenecek</p>
                    <p>-</p>
                  </div>
                  <ul class="list-inline content-info">
                    <li class="list-inline-item single-info"><span>Çalışma:</span>
                      <p>Ödev</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Kategori:</span>
                      <p><a href="#">Oyun</a><a href="#"></a></p>
                    </li>
                    <li class="list-inline-item single-info"><span>Tarih:</span>
                      <p>-</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Teknolojiler:</span>
                      <p>Java, Eclipse</p>
                    </li>
                  </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">İndir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Single lightbox-->
        <div class="lightbox-wrapper" id="item-6">
          <div class="f-basis-100">
            <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item"
                    src="img/1235.jpg"><img class="img-fluid item-img" alt="Item" src="img/about-img.jpg"><img
                    class="img-fluid item-img" alt="Item" src="img/2.jpg"><img class="img-fluid item-img" alt="Item"
                    src="img/1235.jpg"><img class="img-fluid item-img" alt="Item" src="img/1235.jpg"><img
                    class="img-fluid item-img" alt="Item" src="img/1235.jpg"></div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="lightbox-content">
                  <h3 class="content-title">Tatil Web Sitesi</h3>
                  <div class="content-description">
                    <p>Daha sonra yüklenecek</p>
                    <p>-</p>
                  </div>
                  <ul class="list-inline content-info">
                    <li class="list-inline-item single-info"><span>Çalışma:</span>
                      <p>Ödev</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Kategori:</span>
                      <p><a href="#0">Web</a>, <a href="#0">Tasarım</a></p>
                    </li>
                    <li class="list-inline-item single-info"><span>Tarih:</span>
                      <p>-</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Teknolojiler:</span>
                      <p>HTML5, SCSS, JS, + Wix.com</p>
                    </li>
                  </ul><a class="btn content-btn button-main button-scheme" href="#0" role="button">İndir</a>
                </div>
              </div>
            </div>
          </div>


      </section>
      <!-- Testimonials-->
      <section class="single-section testimonials-area alt-bg" id="testimonials-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Referanslarım</h2>
                <p class="section-description">Benim hakkımda bilgi alabileceğiniz kişiler.</p>
              </div>
            </div>
          </div>
          <div class="owl-carousel owl-theme">
            <!-- Single review-->
            <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
              <p class="review-content">Beykoz Üniversitesi Öğretim Elemanı <br>Bilgisayar Programcılığı Bölüm Başkanı
              </p><img class="client-avatar" src="img/profile.jpg" alt="Review avatar"><span class="client-name">Gözde
                Mihran
                Altınsoy <br>gozdemihrankaya@beykoz.edu.tr </span>
              <img class="client-avatar" src="img/gözkar.png" alt="Review avatar"><span class="client-name"></span>
            </div>
            <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
              <p class="review-content">SAP Certified Abap Fiori Developer <br>Software Developer</p><img
                class="client-avatar" src="img/iii.jpg" alt="Review avatar"><span class="client-name">Aydan Ece
                <br>İstenildiği zaman
                paylaşılacaktır.</span>
              <img class="client-avatar" src="img/aydankar.png" alt="Review avatar"><span class="client-name"></span>
            </div>
            <div class="single-review"><i class="icon ion-md-quote review-icon"></i>

              <p class="review-content">VBT Şirketinde Yazılım Geliştirici <br> Software Developer</p><img
                class="client-avatar" src="img/burak.jpg" alt="Review avatar"><span class="client-name">
                Burak Bıçak <br>burak.bicak@outlook.com </span>
              <img class="client-avatar" src="img/burakkarakod.png" alt="Review avatar"><span class="client-name">

            </div>
            <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
              <p class="review-content">Detaysoft şirketinde Yazılım Danışmanı <br> TRM Consultant</p>
              <img class="client-avatar" src="img/11.PNG" alt="Review avatar"><span class="client-name">Aylin
                Hazal Bektaş <br>aylinhazalbektas@gmail.com</span>
              <img class="client-avatar" src="img/aylinkar.png" alt="Review avatar"><span class="client-name"></span>
            </div><!-- Single review-->

          </div>
        </div>
      </section>

      <!-- Blog-->
      <section class="single-section blog-area" id="blog-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Yazılarım</h2>
                <p class="section-description">İlgilendiğim alanlarla ilgili paylaşımlarımı buradan bulabilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <!-- Single post-->
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="sap.html" target="_blank"><img
                    class="card-img-top" src="img/sapabap.png" alt="Blog post"><span class="content-date">14 Şubat
                    2023</span></a>
                <div class="card-body post-content"><a href="sap.html" target="_blank">
                    <h5 class="card-title content-title">SAP/ABAP</h5>
                  </a>
                  <p class="card-text content-description">Sektörde bulunan tanıdıklar ve arkadaşlarımın önerisi ile
                    SAP/ABAP tarafında
                    araştırmalar yapıyor yavaş yavaş bu alanda tecrube kazanmak ve ilerlemek istiyorum.
                  </p>

                </div>
              </div>
            </div>
            <!-- Single post-->
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="ithelpdesk.html" target="_blank"><img
                    class="card-img-top" src="img/ITSupport-758x488.jpg" alt="Blog post"><span class="content-date">02
                    Ocak 2023</span></a>
                <div class="card-body post-content"><a href="ithelpdesk.html" target="_blank">
                    <h5 class="card-title content-title">IT/HELPDESK</h5>
                  </a>
                  <p class="card-text content-description">IT/HELPDESK tarafı bu sektöre ilk adım attığım günden beri
                    sürekli aklımda olan
                    bir bölümdü ve bu bölüm hakkında SAP/ABAP tarafı gibi araştırmalar yapıp tecrube kazanmak istiyorum.
                  </p>

                </div>
              </div>
            </div>
            <!-- Single post-->

            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="benkimim.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">05 Mayıs
                    2020</span></a>
                <div class="card-body post-content"><a href="benkimim.html" target="_blank">
                    <h5 class="card-title content-title">Ben Kimim?</h5>
                  </a>
                  <p class="card-text content-description">Ben Umut Günal. İstanbul doğumluyum. Sadece bilgisayar için
                    değil genel olarak teknolojiye ilgim küçük yaşlardan başladı. </p>
                </div>
              </div>
            </div>
            <a class="btn content-download button-main button-scheme" href="yazilarim.html" target="_blank"
              role="button">Diğer Yazılarım İçin Tıklayın
            </a>
          </div>
        </div>
      </section>

      <!-- Contact-->
      <section class="single-section contact-area alt-bg" id="contact-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">İLETİŞİM</h2>
                <p class="section-description">Sorularınız İçin Bana Ulaşın</p>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Contact form-->
            <form action="mailto:umutcangunal@hotmail.com" method="post" enctype="text/plain">
              <div class="col-12">
                <form class="contact-form" id="contact-form"
                  action="https://exillcodex.netlify.app/template/php/contact.php">
                  <div class="row">
                    <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-name" type="text"
                        name="" placeholder="*Adı-Soyad" required=""></div>
                    <div class="col-12 col-md-6 form-group"><input class="form-control" id="contact-email" type="email"
                        name="email" placeholder="*Email" required=""></div>
                    <div class="col-12 form-group"><input class="form-control" id="contact-subject" type="text"
                        name="subject" placeholder="Konu" required=""></div>
                    <div class="col-12 form-group form-message"><textarea class="form-control" id="contact-message"
                        name="message" placeholder="*Mesajınız" rows="5" required=""></textarea></div>
                    <form action="mailto:someone@example.com" method="post" enctype="text/plain"></form>
                    <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit"
                        type="submit">Gönder</button>

                      <p class="contact-feedback"></p>
                    </div>
                  </div>
                </form>

              </div>
          </div>
        </div>
        </form>
      </section>


      <!-- Footer-->
      <footer class="footer-area single-section">
        <div class="container">
          <div class="row contact-info">
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-map"></i>
                <p class="info-content"><a
                    href="https://www.google.com/maps/place/%C4%B0stanbul/@41.0049823,28.7319945,10z/data=!3m1!4b1!4m6!3m5!1s0x14caa7040068086b:0xe1ccfe98bc01b0d0!8m2!3d41.0082376!4d28.9783589!16zL20vMDk5NDlt"
                    target="_blank">İstanbul,
                    Türkiye</a></p>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-call"></i>
                <p class="info-content"><a href="tel:+441632967704">+90 536 559 91 76</a></p>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-send"></i>
                <p class="info-content"><a href="mailto:alex@example.com">umutcangunal@hotmail.com</a></p>
              </div>
            </div>
          </div>
          <div class="row mini-footer">
            <div class="social-medias col-12 col-lg-5"><a class="twitter" href="https://twitter.com/umutgunal_" target="_blank"><i
                  class="icon ion-logo-twitter"></i></a><a class="instagram"
                href="https://www.instagram.com/umutgunaal/" target="_blank"><i class="icon ion-logo-instagram"></i></a><a
                class="linkedin" href="https://www.linkedin.com/in/umutcan-g%C3%BCnal-6b4ba5173/" target="_blank"><i
                  class="icon ion-logo-linkedin"></i></a><a class="github" href="https://github.com/umutcangunal" target="_blank"><i
                  class="icon ion-logo-github"></i></a><a class="github"
                href="https://www.facebook.com/umutcan.gunal" target="_blank"><i class="icon ion-logo-facebook"></i></a></div>
            <p class="copyright-notice col-12 col-lg-7">Copyright © 2023 <a href="index.html"> umutgunal.com</a>, Tüm
              Hakları Saklıdır. <br>Masaüstü ve Chrome Tarayıcısı Kullanılması Önerilir. </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- removeIf(customizerDist)-->

  <!-- endremoveIf(customizerDist)-->
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/particles.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
  <!-- removeIf(customizerDist)-->
  <script src="../customizer/main.js"></script>
  <!-- endremoveIf(customizerDist)-->
</body>


<!-- Mirrored from exillcodex.netlify.app/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Feb 2023 11:27:05 GMT -->

</html>