<!DOCTYPE html>
<html lang="zxx">


<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <!-- Title-->
    <title>Umut Günal- SAP/ABAP</title>
    <!-- Description-->
    <meta name="description" content="Kim Bu Umut?">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/umutt.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="img/umutt.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="img/umutt.jpg">
    <!-- Web fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <!-- CSS vendors-->
    <link rel="stylesheet" href="css/bootstrap-custom.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/simplebar.min.css">
    <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="css/main.css">
    <!-- CSS Color scheme-->
    <link id="color-scheme" rel="stylesheet" href="css/colors/main-red.css">
    <!-- Custom CSS (Add your custom CSS styles to this file)-->
    <link rel="stylesheet" href="css/custom.css">
    <!-- removeIf(customizerDist)-->
    <link rel="stylesheet" href="../customizer/main.css">
    <!-- endremoveIf(customizerDist)-->
</head>

<body>
    <!-- Preloader-->
    <div class="preloader">
        <div class="preloader-block">
            <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span
                    class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
        </div>
    </div>
    <div class="main-wrapper">
        <!-- Sidebar-->
        <header>
            <nav class="navbar d-md-block d-lg-none fixed-top mobile-navbar"><button class="navbar-toggler mr-auto"
                    type="button" data-toggle="collapse" data-target="#mobileNavbarSupportedContent"
                    aria-controls="mobileNavbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="nav-btn">Menu</span></button>
                <div class="collapse navbar-collapse order-1" id="mobileNavbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                </div>
            </nav>
            <nav class="sidebar" data-simplebar>
                <div class="sidebar-header"><a href="index.html" data-scroll><img class="img-fluid sidebar-avatar"
                            src="img/umutt.jpg" alt="Profile avatar"></a><span class="sidebar-name">Umut Günal</span>
                    <p class="sidebar-status"> <big><b>#sap <br><br>#abap</b></big></p>
                </div>
                <div class="sidebar-menu">
                    <ul class="list-unstyled list-menu">
                        <li><a class="nav-link" href="#home-area" data-scroll></a></li>
                        <li><a class="nav-link" href="#about-area" data-scroll></a></li>
                        <li><a class="nav-link" href="#services-area" data-scroll> </a></li>
                        <li><a class="nav-link" href="#portfolio-area" data-scroll> </a></li>
                        <li><a class="nav-link" href="#testimonials-area" data-scroll></a></li>
                        <li><a class="nav-link" href="#blog-area" data-scroll></a></li>
                        <li><a class="nav-link" href="#contact-area" data-scroll></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sections-wrapper">
            <section class="single-section about-area" id="about-area">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Picture part-->
                        <div class="col-12 col-lg-5 about-img"><img class="img-fluid img-thumbnail" src="img/sap.png"
                                alt="About Picture"></div>
                        <!-- Content part-->
                        <div class="col-12 col-lg-7 about-content">
                            <div class="content-block">
                                <h2 class="content-subtitle"></h2>
                                <h6 class="content-title">SAP/ABAP</h6>
                                <div style="text-align: justify;">
                                <div class="content-description">
                                    <p>SAP ABAP, SAP'nin kurumsal kaynak planlama (ERP) platformunda kullanılmak üzere
                                        1983 yılında geliştirdiği nesne yönelimli bir programlama dilidir. Şirketlerin
                                        ticari operasyonlarının tümünü olmasa da birçok yönünü yönetmelerine yardımcı
                                        olur. SAP ABAP'ı anlamak için önce SAP'yi anlamanız gerekir. SAP, şirketlerin
                                        kendi iç kaynaklarını yönetmek için kullandıkları bir platformdur, ancak
                                        şirketin platformunun kodunu değiştirmesi gereken zamanlar olabilir. Bunu yapmak
                                        için "SAP ABAP" adlı bir dil kullanırlardı. Platformlarını özelleştirmek
                                        istediklerinde, programa ne yapacağını söylemesi için - bilgisayarların
                                        kullandığı bir dil olarak düşünülebilecek - programlama kodu için bir SAP ABAP
                                        geliştiricisi alırlar. Bir geliştiricinin SAP ABAP kullanması gerekmesinin
                                        yaygın bir nedeni, bir şirketin SAP programını başka bir bilgisayar programıyla
                                        entegre etmek istemesidir. Geliştirici, SAP programına diğer bilgisayar
                                        programıyla nasıl konuşulacağını "söylemek" için SAP ABAP programlama dilini
                                        kullanır. Bu alanda kendimi geliştirmek istiyor ve bu alanda uzmanlaşmak
                                        istiyorum. Bu alanda iş imkanları oldukça fazla olduğunu düşünüyorum. Sadece iyi
                                        konuma gelmek için çok fazla kendimi çok fazla geliştirmem gerektiğini ve
                                        fazlaca eğitim almam gerektiğini biliyorum. Bu alanda çalışmalara bakıp
                                        öğrendikçe daha detaylı bilgi paylaşmaya devam edeceğim.
                                        <br><br>
                                        Detaylı Bilgi Daha Sonra.. Diğer Yazılarda Görüşmek Üzere...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-area single-section">
                <div class="container">
                    <div class="row contact-info">
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><i class="info-icon icon ion-md-map"></i>
                                <p class="info-content"><a
                                        href="https://www.google.com/maps/place/%C4%B0stanbul/@41.0049823,28.7319945,10z/data=!3m1!4b1!4m6!3m5!1s0x14caa7040068086b:0xe1ccfe98bc01b0d0!8m2!3d41.0082376!4d28.9783589!16zL20vMDk5NDlt"
                                        target="_blank">İstanbul,
                                        Türkiye</a></p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><i class="info-icon icon ion-md-call"></i>
                                <p class="info-content"><a href="tel:+441632967704">+90 536 559 91 76</a></p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="single-info"><i class="info-icon icon ion-md-send"></i>
                                <p class="info-content"><a href="mailto:alex@example.com">umutcangunal@hotmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mini-footer">
                        <div class="social-medias col-12 col-lg-5"><a class="twitter"
                                href="https://twitter.com/umutgunal_"><i class="icon ion-logo-twitter"></i></a><a
                                class="instagram" href="https://www.instagram.com/umutgunaal/"><i
                                    class="icon ion-logo-instagram"></i></a><a class="linkedin"
                                href="https://www.linkedin.com/in/umutcan-g%C3%BCnal-6b4ba5173/"><i
                                    class="icon ion-logo-linkedin"></i></a><a class="github"
                                href="https://github.com/umutcangunal"><i class="icon ion-logo-github"></i></a><a
                                class="github" href="https://www.facebook.com/umutcan.gunal"><i
                                    class="icon ion-logo-facebook"></i></a></div>
                        <p class="copyright-notice col-12 col-lg-7">Copyright © 2023 <a href="index.html">
                                umutgunal.com</a>, Tüm
                            Hakları Saklıdır.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- removeIf(customizerDist)-->

    <!-- endremoveIf(customizerDist)-->
    <!-- Scripts-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/animatedModal.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/particles.js"></script>
    <script src="js/main.js"></script>
    <!-- Custom JS (Add your custom JS scripts to this file)-->
    <script src="js/custom.js"></script>
    <!-- removeIf(customizerDist)-->
    <script src="../customizer/main.js"></script>
    <!-- endremoveIf(customizerDist)-->
</body>


<!-- Mirrored from exillcodex.netlify.app/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Feb 2023 11:27:05 GMT -->

</html>