<!DOCTYPE html>
<html lang="zxx">


<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <!-- Title-->
  <title>Umut Günal- Yazilar</title>
  <!-- Description-->
  <meta name="description" content="Kim Bu Umut?">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/umutt.jpg">
  <link rel="icon" type="image/png" sizes="32x32" href="img/umutt.jpg">
  <link rel="icon" type="image/png" sizes="16x16" href="img/umutt.jpg">
  <!-- Web fonts-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">
  <!-- CSS vendors-->
  <link rel="stylesheet" href="css/bootstrap-custom.css">
  <link rel="stylesheet" href="css/ionicons.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/simplebar.min.css">
  <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">
  <!-- Main CSS-->
  <link rel="stylesheet" href="css/main.css">
  <!-- CSS Color scheme-->
  <link id="color-scheme" rel="stylesheet" href="css/colors/main-red.css">
  <!-- Custom CSS (Add your custom CSS styles to this file)-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- removeIf(customizerDist)-->
  <link rel="stylesheet" href="../customizer/main.css">
  <!-- endremoveIf(customizerDist)-->
</head>

<body>
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span
          class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div class="main-wrapper">
    <!-- Sidebar-->
    <header>
      <nav class="navbar d-md-block d-lg-none fixed-top mobile-navbar"><button class="navbar-toggler mr-auto"
          type="button" data-toggle="collapse" data-target="#mobileNavbarSupportedContent"
          aria-controls="mobileNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="nav-btn">Menu</span></button>
        <div class="collapse navbar-collapse order-1" id="mobileNavbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
        </div>
      </nav>
      <nav class="sidebar" data-simplebar>
        <div class="sidebar-header"><a href="index.html" data-scroll><img class="img-fluid sidebar-avatar"
              src="img/umutt.jpg" alt="Profile avatar"></a><span class="sidebar-name">Umut Günal</span>
          <p class="sidebar-status"><b><big>#yazilarim</big></b></p>
        </div>

      </nav>
    </header>
    <div class="sections-wrapper">




      <!-- Blog-->
      <section class="single-section blog-area" id="blog-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Yazılarım</h2>
                <p class="section-description">İlgilendiğim alanlarla ilgili paylaşımlarımı buradan bulabilirsiniz.</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">

            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="staj.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">18 Şubat
                    2023</span></a>
                <div class="card-body post-content"><a href="" target="_blank">
                    <h5 class="card-title content-title"> <big><b>TAJ DURUMUM - NE YAPMAK İSTİYORUM</b></big> S</h5>
                  </a>
                  <p class="card-text content-description">Yakında mezun oluyorum ve köprüden önce son çıkışa yaklaştım ilgilendiğim
                    alanda tecrube kazanmak istiyorum.
                  </p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="kurslar.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">17 Şubat
                    2023</span></a>
                <div class="card-body post-content"><a href="kurslar.html" target="_blank">
                    <h5 class="card-title content-title"><big><b>MEMNUN KALDIĞIM KURSLAR</b></big> </h5>
                  </a>
                  <p class="card-text content-description">Ücretli veya ücretsiz kayıt olup gerçekten verimli geçen kursaları sizinle paylaşmak istiyorum.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="ithelpdesk.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">16 Şubat
                    2023</span></a>
                <div class="card-body post-content"><a href="ithelpdesk.html" target="">
                    <h5 class="card-title content-title"><big><b>IT-HELPDESK NEDİR?</b></big> </h5>
                  </a>
                  <p class="card-text content-description">IT/HELPDESK tarafı bu sektöre ilk adım attığım günden beri
                    sürekli aklımda olan bir bölümdü ve bu bölüm hakkında SAP/ABAP tarafı gibi araştırmalar yapıp
                    tecrube kazanmak istiyorum.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="sapdanisman.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">15 Şubat
                    2023</span></a>
                <div class="card-body post-content"><a href="sapdanisman.html" target="">
                    <h5 class="card-title content-title"><big><b>SAP DANIŞMANI KİMDİR?</b></big> </h5>
                  </a>
                  <p class="card-text content-description">SAP yazılımını alan firmalarda görev yapan, süreçleri analiz
                    eden ve hataları çözüme ulaştıran kişilere yani firmaların süreçlerini yönetmesinde yardımcı olan
                    kişilere SAP Danışmanı denir.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="sap.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">10 Ocak
                    2023</span></a>
                <div class="card-body post-content"><a href="sap.html" target="_blank">
                    <h5 class="card-title content-title"><big><b> SAP/ABAP</b></big></h5>
                  </a>
                  <p class="card-text content-description">SAP ABAP, SAP'nin kurumsal kaynak planlama (ERP) platformunda
                    kullanılmak üzere 1983 yılında geliştirdiği nesne yönelimli bir programlama dilidir.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="database.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">12 Aralık
                    2022</span></a>
                <div class="card-body post-content"><a href="database.html" target="_blank">
                    <h5 class="card-title content-title"><big><b>Database Nedir?</b></big> </h5>
                  </a>
                  <p class="card-text content-description">Veri tabanı verilerin organize bir şekilde tutulup kolay bir
                    şekilde ulaşılmasını, yönetilmesini ve güncellenmesini sağlayan diğer bir değiş ile sanal ortamda
                    verilerinizin toplandığı birimdir</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="algoritma.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">2 Kasım
                    2022</span></a>
                <div class="card-body post-content"><a href="algoritma.html" target="_blank">
                    <h5 class="card-title content-title"><big><b>Algoritma Neden Önemlidir?</b></big> </h5>
                  </a>
                  <p class="card-text content-description">Yazılım alanına ilk adım atarken öğrenmemiz gereken konuların
                    en başında gelir.</p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="yazilimebaslarken.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">07 Mayıs
                    2020</span></a>
                <div class="card-body post-content"><a href="yazilimebaslarken.html" target="_blank">
                    <h5 class="card-title content-title"><big><b>Yazılıma Başlarken</b></big> </h5>
                  </a>
                  <p class="card-text content-description">Yazılım birçok kişi tarafından kolay görülen fakat tam tersi
                    olan o kadar zor bir iştir </p>

                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4">
              <div class="card single-post"><a class="post-img" href="benkimim.html" target="_blank"><img
                    class="card-img-top" src="img/post-3.jpg" alt="Blog post"><span class="content-date">05 Mayıs
                    2020</span></a>
                <div class="card-body post-content"><a href="benkimim.html" target="_blank">
                    <h5 class="card-title content-title"><big> <b>Ben Kimim?</b> </big> </h5>
                  </a>

                  <p class="card-text content-description">Ben Umut Günal. İstanbul doğumluyum. Sadece bilgisayar için
                    değil
                    genel olarak teknolojiye ilgim küçük yaşlardan başladı. </p>

                </div>
              </div>
            </div>

          </div>
        </div>
      </section>



      <!-- Footer-->
      <footer class="footer-area single-section">
        <div class="container">
          <div class="row contact-info">
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-map"></i>
                <p class="info-content"><a
                    href="https://www.google.com/maps/place/%C4%B0stanbul/@41.0049823,28.7319945,10z/data=!3m1!4b1!4m6!3m5!1s0x14caa7040068086b:0xe1ccfe98bc01b0d0!8m2!3d41.0082376!4d28.9783589!16zL20vMDk5NDlt"
                    target="_blank">İstanbul,
                    Türkiye</a></p>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-call"></i>
                <p class="info-content"><a href="tel:+441632967704">+90 536 559 91 76</a></p>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-send"></i>
                <p class="info-content"><a href="mailto:alex@example.com">umutcangunal@hotmail.com</a></p>
              </div>
            </div>
          </div>
          <div class="row mini-footer">
            <div class="social-medias col-12 col-lg-5"><a class="twitter" href="https://twitter.com/umutgunal_"><i
                  class="icon ion-logo-twitter"></i></a><a class="instagram"
                href="https://www.instagram.com/umutgunaal/"><i class="icon ion-logo-instagram"></i></a><a
                class="linkedin" href="https://www.linkedin.com/in/umutcan-g%C3%BCnal-6b4ba5173/"><i
                  class="icon ion-logo-linkedin"></i></a><a class="github" href="https://github.com/umutcangunal"><i
                  class="icon ion-logo-github"></i></a><a class="github"
                href="https://www.facebook.com/umutcan.gunal"><i class="icon ion-logo-facebook"></i></a></div>
            <p class="copyright-notice col-12 col-lg-7">Copyright © 2023 <a href="index.html"> umutgunal.com</a>, Tüm
              Hakları Saklıdır.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- removeIf(customizerDist)-->

  <!-- endremoveIf(customizerDist)-->
  <!-- Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/animatedModal.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/simplebar.min.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>
  <script src="js/particles.js"></script>
  <script src="js/main.js"></script>
  <!-- Custom JS (Add your custom JS scripts to this file)-->
  <script src="js/custom.js"></script>
  <!-- removeIf(customizerDist)-->
  <script src="../customizer/main.js"></script>
  <!-- endremoveIf(customizerDist)-->
</body>


<!-- Mirrored from exillcodex.netlify.app/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Feb 2023 11:27:05 GMT -->

</html>